In [1]:
import numpy as np
import pandas as pd

In [4]:
weather = pd.read_csv("data/t_Kyiv.csv", index_col="DATE")

In [5]:
weather

                STATION      NAME  PRCP  SNWD  TAVG  TMAX  TMIN
DATE
1970-01-01  UPM00033345  KIEV, UP  0.13   NaN  -1.0  11.0  -9.0
1970-01-02  UPM00033345  KIEV, UP  0.37   NaN  28.0  34.0  11.0
1970-01-03  UPM00033345  KIEV, UP  0.27   NaN  22.0  32.0  16.0
1970-01-04  UPM00033345  KIEV, UP  0.00   NaN  22.0  31.0  15.0
1970-01-05  UPM00033345  KIEV, UP  0.00   NaN  28.0  37.0  20.0
...                 ...       ...   ...   ...   ...   ...   ...
2025-03-12  UPM00033345  KIEV, UP   NaN   NaN  51.0  56.0  45.0
2025-03-13  UPM00033345  KIEV, UP   NaN   NaN  50.0  59.0  40.0
2025-03-14  UPM00033345  KIEV, UP   NaN   NaN  54.0  60.0   NaN
2025-03-15  UPM00033345  KIEV, UP   NaN   NaN  42.0  53.0   NaN
2025-03-16  UPM00033345  KIEV, UP   NaN   NaN  36.0  43.0  32.0

[19864 rows x 7 columns]

In [ ]:
# відсоток пустих вимірювань в рядках
weather.apply(pd.isnull).sum()/weather.shape[0]

STATION    0.000000
NAME       0.000000
PRCP       0.270187
SNWD       0.825614
TAVG       0.001460
TMAX       0.100836
TMIN       0.203081
dtype: float64

In [14]:
# з всіх вимірювань вибираємо лише максимальну, мінімальну та середню температури
core_weather = weather[["TAVG", "TMAX", "TMIN"]].copy()

In [13]:
core_weather

            TAVG  TMAX  TMIN
DATE
1970-01-01  -1.0  11.0  -9.0
1970-01-02  28.0  34.0  11.0
1970-01-03  22.0  32.0  16.0
1970-01-04  22.0  31.0  15.0
1970-01-05  28.0  37.0  20.0
...          ...   ...   ...
2025-03-12  51.0  56.0  45.0
2025-03-13  50.0  59.0  40.0
2025-03-14  54.0  60.0   NaN
2025-03-15  42.0  53.0   NaN
2025-03-16  36.0  43.0  32.0

[19864 rows x 3 columns]

In [ ]:
# пусті вимірювання 
core_weather[pd.isnull(core_weather["TAVG"])]

            TAVG  TMAX  TMIN
DATE
2006-01-06   NaN   NaN   NaN
2006-01-07   NaN   NaN   NaN
2006-02-25   NaN   NaN   NaN
2006-02-27   NaN   NaN   NaN
2006-03-08   NaN   NaN   NaN
2006-11-05   NaN   NaN   NaN
2007-01-28   NaN   NaN   NaN
2007-02-18   NaN   NaN   NaN
2007-09-07   NaN   NaN   NaN
2007-09-08   NaN   NaN   NaN
2007-09-26   NaN   NaN   NaN
2007-11-24   NaN   NaN   NaN
2007-12-21   NaN   NaN   NaN
2008-01-20   NaN   NaN   NaN
2008-02-02   NaN   NaN   NaN
2008-02-16   NaN   NaN   NaN
2008-02-17   NaN   NaN   NaN
2008-05-16   NaN   NaN   NaN
2009-01-24   NaN   NaN   NaN
2009-01-25   NaN   NaN   NaN
2009-01-29   NaN   NaN   NaN
2009-01-31   NaN   NaN   NaN
2009-02-07   NaN   NaN   NaN
2009-02-14   NaN   NaN   NaN
2009-02-21   NaN   NaN   NaN
2009-02-22   NaN   NaN   NaN
2009-02-28   NaN   NaN   NaN
2009-03-01   NaN   NaN   NaN
2009-03-22   NaN   NaN   NaN

In [19]:
# тут використовується форвард філ, тобто дублювання даних з попереднього рядка
core_weather = core_weather.fillna(method="ffill")

In [20]:
core_weather.apply(pd.isnull).sum()/weather.shape[0]

TAVG    0.0
TMAX    0.0
TMIN    0.0
dtype: float64

In [21]:
# Далі будемо перевіряти чи всі дані мають правильний тип даних для машиного навчання

In [ ]:
core_weather.index
# тип індекса - object, що означає що це просто рядок, але для ML треба це все перетворити в тип datetime

Index(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04', '1970-01-05',
       '1970-01-06', '1970-01-07', '1970-01-08', '1970-01-09', '1970-01-10',
       ...
       '2025-03-07', '2025-03-08', '2025-03-09', '2025-03-10', '2025-03-11',
       '2025-03-12', '2025-03-13', '2025-03-14', '2025-03-15', '2025-03-16'],
      dtype='object', name='DATE', length=19864)

In [23]:
core_weather.index = pd.to_datetime(weather.index)

In [24]:
core_weather.index

DatetimeIndex(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04',
               '1970-01-05', '1970-01-06', '1970-01-07', '1970-01-08',
               '1970-01-09', '1970-01-10',
               ...
               '2025-03-07', '2025-03-08', '2025-03-09', '2025-03-10',
               '2025-03-11', '2025-03-12', '2025-03-13', '2025-03-14',
               '2025-03-15', '2025-03-16'],
              dtype='datetime64[ns]', name='DATE', length=19864, freq=None)

In [ ]:
# перевіряємо на помилки в вимірюваннях 
core_weather.apply(lambda x: (x == 9999).sum())

#як ми бачимо в датасеті немає помилок в вимірюваннях

TAVG    0
TMAX    0
TMIN    0
dtype: int64